@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400&family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --color-space-dark: #0b0d17;
  --color-space-light: #d0d6f9;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
